<%- include("partials/header"); -%> 
<div class="aboutme">
    <h1>About Me</h1>
    
    <img class="aboutmeimg" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/73030534_2438293226225829_3960763705876021248_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ytjOEEdj-g4AX92FuB3&_nc_ht=scontent-nrt1-1.xx&oh=00_AfCUBtpqqSDoerQeef5faVZskC5jlENqTP073bSC-O8GZQ&oe=641D3D84">
    <p>I am an aspiring Web Developer, freelance translator for manga and video games, and a prop firm trader.
        <br>
        Currently living in Japan, born and raised in California US.
        <br>
        I like to play video games and dance in my freetime!
    </p>
   
    
</div>

<%- include("partials/footer"); -%> 