<%- include("partials/header",{title:"Contact"}); -%> 
<div class="contactme">
    <h1>Contact</h1>
    <p>contact me at Linkedin or github! :)</p>
    <a href="https://www.linkedin.com/in/kentaro-oshimoto-4114a0196/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/bap-ssbm"><i class="fa-brands fa-github"></i></a>
    <hr>
</div>


<%- include("partials/footer"); -%> 